<% if Current.user %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= Current.user.email %>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <%= link_to "Edit Password", edit_password_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= button_to "Sign out", sign_out_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
<% else %>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <%= link_to "Sign Up", sign_up_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Sign In", sign_in_path, class: "nav-link" %>
    </li>
  </ul>
<% end %>
